<p><a routerLink="/track" routerLinkActive="active" class="alc">Track Practice</a></p>
<div class="container">
  <div class="jumbotron">
      <table class="table">
        <tr>
          <td align="right">
    <h2>Practice Listing</h2>
          </td>
          <td align="right">
    show:</td>
    <td style="width: 110px;"><select class="form-control" id="countAct" #countAct (change)="getList(countAct.value)" [style.width]="width: 110px;"> 
      <option *ngFor="let i of counts" [value]="i">{{i}}</option>
    </select>
        </td>
     </tr>
     </table>
      {{ message.msg }}
      <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th class="text-center" style="width: 160px;">Practice Date</th>
            <th class="text-center">Type</th>
            <th class="text-center">Elapsed Time</th>
            <th class="text-center">Notes</th>
            <th class="text-center"></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let act of activities">
            <td class="text-center" style="width: 160px;">{{act.practiceDateTime}}</td>
            <td class="text-center" style="width: 15px;">{{act.type}}</td>
            <td class="text-center" style="width: 200px;">{{act.elapsedTime}}</td>
            <td class="text-center" style="width: 300px;">{{act.notes}}</td>
            <td class="text-center"><img src="assets/delete.png" height="30" width="30" (click)="deleteActivity(act.activityID)"></td>
          </tr>
        </tbody>
      </table>
  </div>
  &copy; Golflog 2018
</div>  

