
<div class="container-fluid">
    <ul class="nav nav-tabs" role="tablist">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">{{currentUser.firstname}}@golflog</span>
        </nav>
        <li class="nav-item" >
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/report']" role="tab" data-toggle="tab">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/track']" role="tab" data-toggle="tab">Track</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/listing']" role="tab" data-toggle="tab">Listings</a>
        </li>
      </ul>
  </div>