<div class="col-md-6 col-md-offset-3">
  <h1>Hi {{currentUser.firstname}} {{currentUser.lastname}}!</h1>
  <!--resp (json): {{ currentUser | json }} -->
  <p><a routerLink="/report" routerLinkActive="active" class="alc">See Reports</a></p>
 
        <div class="container">
          <div class="stopWatch numbers">
                {{formattedTime()}}
            <div>
              <button class="btn" (click)="startTimer()" [disabled]="isRunning">Start</button>
              <button class="btn" (click)="stopTimer()" [disabled]="!isRunning">Stop</button>
              <button class="btn" (click)="resetTimer()" [disabled]="isRunning">Reset</button>
              <button class="btn" (click)="saveTimer(selectAct.value, notes.value)" [disabled]="isRunning">Save</button><BR>
              Activity:
              <select class="form-control" id="selectedAct" #selectAct> 
                  <option *ngFor="let act of activities" [value]="act">{{act}}</option>
              </select>
              Notes: <textarea class="form-control" ng-model="myTexta" id="notes" #notes></textarea>
            </div>   
          </div>
          <!--Start: {{ startTime | date:'y-MM-dd hh:mm:ss'}}-->
        <div class="log">
          {{ message.msg }} 
          {{ startTime }}
          {{ activitySet | json }}
          <!--  {{ log/1000 }} seconds -->
          <!-- {{ options.elapsedTime | stopwatchTime }} -->
        </div>
  <p><a [routerLink]="['/login']" (click)="logout()">Logout</a></p>
  <BR>
    &copy; Golflog 2018
  </div>
</div>
