<div class="container">
    <div class="jumbotron">
    <form #regfrm="ngForm" (ngSubmit)="registerUser(regfrm)">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" class="form-control" ngModel required pattern="[a-zA-Z][a-zA-Z]+">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" class="form-control" ngModel required pattern="[a-zA-Z][a-zA-Z]+">
      </div>
  <div class="form-group">
    <label for="email">eMail</label>
    <input type="email" name="email" class="form-control" ngModel required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" ngModel required>
  </div>
  <div class="form-group">
    <label for="passwordconf">Confirm Password</label>
    <input type="password" name="passwordconf" class="form-control" ngModel required>
  </div>
  <button type="submit" name="registerButton" class="btn btn-success" [disabled]="regfrm.invalid" (onClick)="registerUser(regfrm)">Register</button>
</form>
<a routerLink="/login" routerLinkActive="active" class="alc">Return to Login</a><br>
<!--{{ regfrm.value | json }} -->
<!--{{ newUser | async | json }} -->
</div>
</div>>